2. Cho danh sách sinh viên chứa thong tin của mỗi sinh viên [id, tên, tuổi] như sau:
    students = [["SV01","Bob",23],["SV02","Kenny",24],["SV03","Anie",25]]

    a. Lấy ra thông tin của sinh viên thứ nhất và in ra như định dạng " id:{}, name:{}, age: {}

In [21]:
students = [["SV01","Bob",23],["SV02","Kenny",24],["SV03","Anie",25]]
sv1 = students[0]
id = sv1[0]
name = sv1[1]
age = sv1[2]
print("ID:",id,",","Name:",name,"-","Age:",age)

ID: SV01 , Name: Bob - Age: 23

    b. Lấy ra tuổi của sinh viên thứ hai

In [14]:
sv2 = students[1]
age = sv2[2]
print(age)

24

In [23]:
sv2 = students[1]
sv2_age = sv2[2]
print ("Thông tin của sinh viên thứ hai:", sv2)
print ("Tuổi của sinh viên thứ hai:",sv2_age)

Thông tin của sinh viên thứ hai: ['SV02', 'Kenny', 24]
Tuổi của sinh viên thứ hai: 24

    c. Lấy ra thông tin của hai sinh viên cuối cùng

In [17]:
haisvcuoi = students[1:3]
print(haisvcuoi)

[['SV02', 'Kenny', 24], ['SV03', 'Anie', 25]]

In [24]:
new_students = students[-2:]
print(new_students)

[['SV02', 'Kenny', 24], ['SV03', 'Anie', 25]]

    d. Lấy ra id của sinh viên thứ 3

In [26]:
id = students[2][0]
 #or students[-1][0]
print(id)

SV03